Your password was changed

The password for {{ user.email }} was just changed. If that was you, there is nothing to do.

If it was not you, reset your password immediately and contact support:
{{ appUrl }}/forgot-password
